
/* ==========================================================================

   Blue skin

   ========================================================================== */

/* Colors */
$primary-color: #0092ca !default;
$footer-background-color: #D4EBFF !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

